.underscore_div{
    background-color: #ff0000;
    color: #fffeba;
}

.example_div{
    background-color: #ffe4c6;
    color: #740000;
}   
.footer_div{
    background-color: #740000;
    color: #ffe4c6;
}   